@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<IEnumerable<Homework.App.Models.Record>>

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
        <head>
            <script type="text/javascript" src="../../Scripts/jquery-1.11.0.js"></script>
            <script type="text/javascript" src="../../Scripts/homework.js"></script>
            <link rel="stylesheet" type="text/css" href="../../CSS/style.css">
            <title>Index</title>
        </head>
        <body>
            <a href="../BookManager/Index">Book Manage Page</a>

            <form method="POST" id="addNewRecord" action="/home/AddNewRecord" onsubmit="return ValidateForm()">
                <label>Name</label>
                <input id="name" name="name"/>
                <label>Book</label>
                <input id="book" name="book"/>
                <label>Page</label>
                <input id="page" name="page"/>
                <button id="add-record">Add</button>
            </form>
            
            <table>
                <tr>
                    <th>@Html.LabelFor(model => model.FirstOrDefault().Name)</th>
                    <th>@Html.LabelFor(model => model.FirstOrDefault().Book)</th>
                    <th>@Html.LabelFor(model => model.FirstOrDefault().Page)</th>
                    <th>@Html.LabelFor(model => model.FirstOrDefault().Date)</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr id=@item.Id>
                        <td id="info" class="name">@item.Name</td>
                        <td id="info" class="book">@item.Book</td>
                        <td id="info" class="page">@item.Page</td>
                        <td>@item.Date.ToString("yyyy-MM-dd")</td>
                        <td><label id="delete">Delete</label></td>
                    </tr>
                }
            </table>
        </body>
</html>
